/* Reset some default styles */
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #555;
}

.about-content {
    padding: 50px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    padding: 50px;
    background-color: #f1f1f1;
}

input,
textarea,
button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    /* Ensure the button appears above other content */
    display: block;
    /* Always visible */
}

#scrollToTopBtn:hover {
    background-color: #555;
}